.main-chat {
    /* background: linear-gradient(135deg, #4a154b, #1a1a1a); */
    background: linear-gradient(to bottom, #8b795e, #6b5840);    height: 100vh;
    display: flex;
    position: relative;
}

.titulo-chat {
    font-family: 'Montserrat, sans-serif';
    font-weight: 700;
    font-size: 60px;
    color: white;
    text-shadow: '2px 2px 4px rgba(0, 0, 0, 0.5)';
}

.welcome-title {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.box {
    background: linear-gradient(to bottom, #e3e3ab, #c0ad7e);
    overflow-y: auto;
    max-height: 950px;
    scroll-behavior: smooth; /* Hace que el desplazamiento sea suave */
}

/* Estilo para cada mensaje */
.mensaje {
    background-color: #fff; /* Fondo del mensaje */
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}
/* max-width: 100%; Ajusta según tu diseño
} */

/* Estilo para los mensajes del usuario */
.mensaje-user {
    background-color: #4f9fe0; /* Color de fondo para los mensajes del usuario */
    color: #fff; /* Color del texto en los mensajes del usuario */
    text-align: left;
}

/* Estilo para los mensajes del sistema u otros participantes */
.mensaje-sistem {
    background-color: #f2f2f2; /* Color de fondo para mensajes del sistema */
    color: #333; /* Color del texto en mensajes del sistema */
    text-align: left;
}

/* Puedes agregar más estilos según tus necesidades, como animaciones, sombras, etc. */

/* Estilo para la barra de escritura */
.barra-escritura {
    display: flex;
    align-items: center;
    background-color: #eee;
    padding: 10px;
}

/* Estilo para el área de texto donde se escribe el mensaje */
.texto-mensaje {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

/* Estilo para el botón de enviar */
.boton-enviar {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para el botón de enviar al pasar el ratón */
.boton-enviar:hover {
    background-color: #45a049;
}




/* Estilos para el contenedor */

/* Estilos para la barra de desplazamiento en navegadores Webkit (Chrome, Safari) */
.box::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

.box::-webkit-scrollbar-thumb {
  background-color: #570b5e; /* Color del "pulgón" de la barra de desplazamiento */
  border-radius: 5px; /* Bordes redondeados */
}

.box::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color del fondo de la barra de desplazamiento */
}


.btn-reiniciar{
    position: fixed;
    bottom: 15px;
    right: 8px;
    background-color: #618fb5 !important;
    border: solid !important;
    border-radius: 40px !important;
    color: #45a049;
}

.btn-reiniciar:hover{
    background-color: #316189 !important;
    transition: all ease 0.2s;
}

/* Estilos para pantallas móviles */
@media only screen and (max-width: 767px) {
    .btn-reiniciar {
        top: 5px;
        bottom: auto;
        right: 15px;
    }
}

.main-error{
     background: linear-gradient(to bottom, #f8f8f3, #4a8bc1);
    }
    
.main-tipos{
    background: linear-gradient(to bottom, #43a5b9, #1c507a)
}

#root{
    position: relative;
}
.user-logo-div{
    position: absolute;
    top:15px;
    right:20px;
    border-radius: 45%;
    border: solid black;
    background-color: rgb(235, 235, 197);
    transition: all 0.3s ease;
}

.user-logo-div:hover{
    background-color: rgb(168, 168, 158);
    transform: scale(1.1); /* Escala el div en 1.1 veces su tamaño original */
    cursor: pointer;
}

/* Navbar */
.dropdown-menu.show{
    background-color: rgb(57, 60, 63) !important;    
}
.dropdown-item:hover{
    background-color:red !important;
    transition: all 0.6s ease;
    color: white !important;    
}


